-- Example 0
5
ABCDEF
DEFGHI
OPQRST
ZZZZZZ
YYYYYY
3
CAT
DOG
PIZZA

1
1
-- Example 1
6
ABCDEF
DEFGHI
OPQRST
MNZLSA
QEIOGH
IARJGS
7
DOG
CAT
MOUSE
BIRD
CHICKEN
PIG
ANIMAL

4
0
1
3
5
-- Example 2
4
AAAAAA
AAAAAA
AAAAAA
AAAAAA
5
AA
AAA
AAAA
AAAAA
AAAAAA

3
0
1
2
-- Example 3
5
ABCDEF
DEFGHI
OPQRST
ZZZZZZ
ZZZZZZ
3
CAT
DOG
PIZZA

2
1
2
